<link rel="stylesheet" type="text/css" href="css/grid100.css"> 
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>spotifEYE</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="name">{{displayName}}</div>
			<div class="picture"><img src="{{picture}}"></div>
		</div>
		<div class="col-md-6">
			<button ng-click="goToEdge()">Go To Hierarchical Edge Bundling</button>
			<button ng-click="goToBubbles()">Go To Bubbles</button>
			<button ng-click="goToChords()">Go To Chords</button>
			<button ng-click="goToDashboard()">Go To Dashboard</button>
		</div>
	</div>
</div>



<!-- <button ng-click="goToEdge()">Go To Hierarchical Edge Bundling</button>
<button ng-click="goToBubbles()">Go To Bubbles</button>
<button ng-click="goToChords()">Go To Chords</button>
<button ng-click="goToDashboard()">Go To Dashboard</button> -->