<section class="panel b-yellow" id="2" ng-show="lockWindow.showLogin">
    <article class="panel_wrapper">
        <div class="panel_content">
            <h1 class="hit-the-floor">
                {{ title }}
            </h1>
            <div class="panel_block"></div>
            <div class="wrap">
                <!-- LOGIN BUTTON -->
                <a class="btn inset" href="/auth/spotify" id="btn-login" ng-click='hideDiv()'>LOGIN</a>
            </div>
        </div>
    </article>
</section>