@import url("http://fonts.googleapis.com/css?family=Nunito:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0px;
}

body {
  font-family: 'Open Sans';
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backface-visibility: hidden;
}

.nav_list {
  display: flex;
  height: 85vh;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /*transform          : translate(0, -100%);*/
  transform: translate(-100%, 0);
  flex-flow: column wrap;
}

.nav_list--active {
  transform: translate(0, 0);
/*  -ms-transform: translate(0, 0);*/
/*  -webkit-transform: translate(0, 0);*/
}

.nav_item {
  position: relative;
  flex: 1;
/*  -ms-flex: 1;*/
/*  -webkit-flex: 1;*/
/*  -webkit-box-flex: 1;*/
}

.nav_link {
/*  -ms-flex-align: center;*/
/*  -ms-flex-pack: center;*/
/*  -webkit-align-items: center;*/
/*  -webkit-box-align: center;*/
/*  -webkit-box-pack: center;*/
/*  -webkit-justify-content: center;*/
/*  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
  align-items: center;
  background: #2b3033;
/*  display: -ms-flexbox;*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
  display: flex;
  font-size: 24px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.nav_link:hover {
  background: #272b2e;
}

@media (max-width: 640px) {
  .nav {
    width: 70px;
  }
  .nav_list {
    height: 90vh;
  }
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
  font-size: 40px;
}

.burger {
  z-index: 2;
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
  display: flex;
  position: relative;
  height: 15vh;
  background: #2b3033;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
/*  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
  cursor: pointer;
  justify-content: center;
/*  -webkit-box-pack: center;*/
/*  -webkit-justify-content: center;*/
  align-items: center;
/*  -ms-flex-align: center;*/
/*  -webkit-align-items: center;*/
/*  -webkit-box-align: center;*/
/*  -ms-flex-pack: center;*/
}

.burger:hover {
  background: #272b2e;
}

.burger_patty {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: white;
}

.burger_patty:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: green;
}

.burger_patty:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.burger_patty,
.burger_patty:after,
.burger_patty:before {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
/*  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
}

.burger--active .burger_patty {
  transform: rotate(90deg);
/*  -ms-transform: rotate(90deg);*/
/*  -webkit-transform: rotate(90deg);*/
}

.burger--active .burger_patty:before {
  transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
/*  -ms-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);*/
/*  -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);*/
}

.burger--active .burger_patty:after {
  transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
/*  -ms-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);*/
/*  -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);*/
}

@media (max-width: 100vw) {
  .burger {
    height: 10vh;
  }
  .burger_patty {
    transform: scale(0.8);
/*    -ms-transform: scale(0.8);*/
/*    -webkit-transform: scale(0.8);*/
  }
  .burger--active .burger_patty {
    transform: scale(0.8) rotate(90deg);
/*    -ms-transform: scale(0.8) rotate(90deg);*/
/*    -webkit-transform: scale(0.8) rotate(90deg);*/
  }
}

.panel {
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
  display: flex;
/*  display: -webkit-box;*/
  min-height: 100vh;
  overflow: hidden;
/*  -ms-flex-align: center;*/
  justify-content: center;
/*  -ms-flex-pack: center;*/
/*  -webkit-justify-content: center;*/
/*  -webkit-box-pack: center;*/
  align-items: center;
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
}

.panel-dash {
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
  display: flex;
/*  display: -webkit-box;*/
  min-height: 100vh;
  overflow: hidden;
  width: : 100vh;
}

.panel_wrapper {
  padding: 7vh 7vw;
  perspective: 1000px;
/*  -webkit-perspective: 1000px;*/
}

.panel_content {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
/*  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
  transform: scale(0.7) rotateX(-230deg);
/*  -webkit-transform: scale(0.7) rotateX(-230deg);*/
  transform-origin: center 80%;
/*  -ms-transform-origin: center 80%;*/
/*  -webkit-transform-origin: center 80%;*/
}

.panel_content--active {
  opacity: 1;
  transform: none;
/*  -ms-transform: none;*/
/*  -webkit-transform: none;*/
}

.panel_headline {
  margin: 0 0 25px 0;
  font-size: 48px;
  font-weight: 700;
  opacity: 0.8;
}

.panel p {
  margin: 0 0 25px 0;
  max-width: 800px;
  color: #1a1a1a;
  font-size: 24px;
}

.panel p:last-child {
  margin-bottom: 0;
}

.panel_block {
  height: 3px;
  margin: 0 0 25px 0;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 100vw) {
  .panel_headline {
    font-size: 36px;
  }
  .panel_wrapper {
    padding: 10vh 10vw;
  }
  .panel p {
    font-size: 16px;
  }
}

.c-blue {
  color: #5fc7ea;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}

.c-red {
  color: #e68568;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}

.c-green {
  color: #68e6ac;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}

.c-yellow {
  color: #FC6436;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}

.b-blue {
  background: #32CD64;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}


/* yellow */

.b-red {
  background: #C7F60E;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}

.b-green {
  background: #68e6ac;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}

.b-yellow {
  background: #FC6436;
  transition: .2s background-color linear;
/*  -webkit-transition: .2s background-color linear;*/
}


/*BUTTON*/

*,
*:after,
*:before {
  outline: none;
  transition: 0.5s ease-in-out;
/*  -webkit-transition: 0.5s ease-in-out;*/
}

.search {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search * {
  display: block;
  position: absolute;
  padding: 0;
}

.search *.search-label {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 40px;
  transform: rotate(-25deg);
/*  -ms-transform: rotate(-25deg);*/
/*  -webkit-transform: rotate(-25deg);*/
}

.search *.search-label:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: 35px;
  width: 10px;
  height: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #494949;
  transition-delay: 0.5s;
/*  -webkit-transition-delay: 0.5s;*/
}

.search *.search-label:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 80px;
  height: 80px;
  border: 10px solid #494949;
  border-radius: 50px;
  transform: rotate(25deg);
/*  -ms-transform: rotate(25deg);*/
/*  -webkit-transform: rotate(25deg);*/
}

.search *#search-input {
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  padding: 20px;
  color: transparent;
  border: none;
  border-radius: 40px;
  font-size: 26.66667px;
  box-sizing: border-box;
}

.search *#reset-form {
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border: none;
  border-radius: 100%;
  opacity: 0;
  opacity: 1;
  background: transparent;
  transition-delay: 0s;
  transform: rotate(45deg);
/*  -ms-transform: rotate(45deg);*/
/*  -webkit-transform: rotate(45deg);*/
/*  -webkit-transition-delay: 0s;*/
}

.search *#reset-form:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  margin-left: -5px;
  border-radius: 10px;
  background: #494949;
}

.search *#reset-form:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  margin-top: -5px;
  border-radius: 10px;
  background: #494949;
}

.search *#reset-form:hover {
  cursor: pointer;
}

.search *#reset-form:hover:after,
.search *#reset-form:hover:before {
  background: red;
}

.search.active .search-label:before {
  bottom: 0;
  height: 0;
  transition-delay: 0s;
/*  -webkit-transition-delay: 0s;*/
}

.search.active .search-label:after {
  left: -170px;
  width: 400px;
  transition-delay: 0.5s;
/*  -webkit-transition-delay: 0.5s;*/
}

.search.active #search-input {
  width: 400px;
  margin-left: -200px;
  color: #494949;
  transition-delay: 0.5s;
/*  -webkit-transition-delay: 0.5s;*/
}

.search.active #reset-form {
  z-index: 2;
  margin-left: 140px;
  opacity: 1;
  transition-delay: 1s;
/*  -webkit-transition-delay: 1s;*/
}

.wrap {
  margin: 50px 40px 0;
  text-align: center;
}

.btn {
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
}

.inset {
  padding: 20px 60px;
  color: #fff;
  border: solid 1px #444;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px rgba(255, 255, 255, 0.7);
/*  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));*/
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
  background-color: rgba(7, 160, 221, 0.99);
  background-size: 100%;
}

.inset:focus,
.inset:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.7);
}

.inset:active {
  margin-top: 1px;
  padding: 21px 60px 19px;
  line-height: 20px;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.57), 0 1px rgba(255, 255, 255, 0.68);
}


/*TXTAREA*/

#txtarea {
  font-size: inherit;
  background-color: #FF4E78;
}


.button__holder {
  align-items: center;
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
/*  -ms-flex-align: center;*/
/*  -ms-flex-pack: center;*/
/*  -ms-flex-wrap: wrap;*/
/*  -webkit-align-items: center;*/
/*  -webkit-box-align: center;*/
/*  -webkit-box-pack: center;*/
/*  -webkit-flex-wrap: wrap;*/
/*  -webkit-justify-content: center;*/
/*  display: -ms-flexbox;*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
}

.button__holder:after {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(26, 26, 26, 0.7);
}

.button__holder h2 {
  margin-right: 1em;
  color: #8A3B58;
  text-align: center;
}

.plus {
  z-index: 1;
  position: relative;
  width: 80px;
  height: 80px;
  color: #1a1a1a;
  border: none;
  border-radius: 50%;
  background: #ed1c5b;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
/*  -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);*/
}

.plus:after {
  content: "+";
  font-size: 2.5em;
  line-height: 1.1em;
}

.plus:hover {
  box-shadow: 0 0 1px 15px rgba(138, 59, 88, 0.4), 0 0 1px 30px rgba(138, 59, 88, 0.1), 0 0 1px 45px rgba(138, 59, 88, 0.1);
  transform: rotate(45deg);
/*  -ms-transform: rotate(45deg);*/
/*  -webkit-transform: rotate(45deg);*/
}
